{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div>
      <strong> <a href="{{ path('nwp.assessment.admin.eventtable_list', {'event': object.event.id ,'gradeLevel': object.gradeLevel.id}) }}" class="view_link" title="">{{ object.gradeLevel }}</a></strong>
    </div>
{% endblock %}