{% extends 'NwpAssessmentBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h3 class="title">About Assessment System</h3>
    </header>
    <article>
        <p>The Online Writing Assessment System is a flexible, intuitive tool that allows for remote online scoring with quick access to clean data.
</p>
    </article>
{% endblock %}
