parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: 3306
    database_name: AssessmentSystem
    database_user: root
    database_password: null
    #mailer_transport: smtp
    #mailer_host: localhost
    #mailer_user: null
    #mailer_password: null
    mailer_transport: gmail
    mailer_encryption: ssl
    mailer_auth_mode: login
    mailer_host: smtp.gmail.com
    mailer_user: sepstei1@gmail.com
    mailer_password: ingusillo
    locale: en
    secret: bd73e8f64edca715aedde2b49ee534c10
    database_path: null
