{% extends '::base.html.twig' %}
{% block title %}Login{% endblock %}
{% block content %}
    
   {% block fos_user_content %}{% endblock %}
    <!--</br></br><a href="{{ path('fos_user_registration_register') }}">Click here to register</a> -->
    
    
{% endblock %}

